  <!-- component interaction -->
  <!-- sending data from parent component to child component -->
  <!-- Using @input decorator child accepts input from the parent. -->
  <h1 style="text-align: center">{{title | titlecase}}</h1>
  <h2>{{"topic is:" +parentData}}</h2>
  <h2>{{"hello "+name}}</h2>
  <!-- component interaction: child to parent -->
  <button (click)="fireEvent()">Send Event</button>

  <!-- pipes -->
  <h2>{{name}}</h2>
  <h2>{{name | lowercase}}</h2>
  <h2>{{name | uppercase}}</h2>
  <h2>{{title | titlecase}}</h2>
  <h2>{{title | slice:3}}</h2>
  <h2>{{title | slice:3:6}}</h2>

  <h2>{{person | json}}</h2>

  <h2>{{5.678 | number}}</h2>
  <h2>{{5.678 | number:'1.2-3'}}</h2>
  <h2>{{5.678 | number:'3.4-5'}}</h2>
  
  <h2>{{5.678 | percent}}</h2>
  <h2>{{.25 | percent}}</h2>

  <h2>{{.25 | currency}}</h2>
  <h2>{{.25 | currency:'INR'}}</h2>
  <h2>{{.25 | currency:'INR':'code'}}</h2>
  <h2>{{.25 | currency:'EUR'}}</h2>
  <h2>{{.25 | currency:'EUR':'code'}}</h2>

  <h2>{{ date }}</h2>
  <h2>{{ date | date:'shortTime' }}</h2>
  <h2>{{ date | date:'shortDate' }}</h2>

